:root {
  --dark-gray: hsl(0, 0%, 52%); /*(Light Mode Input)*/
  --very-light-gray: hsl(0, 0%, 98%); /*(Light Mode Background)*/
  /*Dark Mode Text & Light Mode Elements*/
  --white: hsl(200, 15%, 8%);
  font-size: 14px;
}
.dark:root {
  --white: hsl(0, 0%, 100%); /*(Light Mode Text)*/
  --very-light-gray: hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --dark-gray: hsl(209, 23%, 22%); /*(Dark Mode Elements)*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: var(--white);
}
body {
  background: var(--very-light-gray);
}

main {
  padding-inline: 1.5rem;
  background: var(--very-light-gray);
}
.mode {
  display: flex;
  padding-block: 2.5rem;
  padding-inline: 1.5rem;
  inline-size: 100%;
  border-block-end: 2px solid var(--d);
  justify-content: space-between;
  align-items: center;
  background: var(--very-light-gray);
  box-shadow: 3px 0px 5px var(--dark-gray);
}
h1 {
  font-size: small;
}
.search {
  padding-inline: 1.5rem;
  background: var(--very-light-gray);
}
button {
  background: inherit;
  border: none;
}
#region {
  inline-size: 14rem;
  padding: 1rem;
  background: var(--very-light-gray);
  border: none;
  box-shadow: 3px 0px 5px var(--dark-gray);
  border-radius: 0.4rem;
  margin-block: 2rem;
  margin-block-start: 2.5rem;
}
input[type="text"] {
  padding: 1.5rem;
  inline-size: 100%;
  display: block;
  margin-inline: auto;
  border: none;
  border-radius: 0.3rem;
  margin-block-start: 2rem;
  background: var(--very-light-gray);
  /* border: 3px solid var(); */
  box-shadow: 0.5px 0.5px 10px 1px var(--dark-gray);
}
img {
  inline-size: 100%;
  block-size: auto;
}
h2 {
  margin-block: 1.5rem;
}
.countries-section {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.mode-icon{
  inline-size: 1.3rem;
}
.change-mode-btn{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.search-icon{
  inline-size: 1rem;
}

article {
  inline-size: 90%;
  margin-inline: auto;
  margin-block-end: 3rem;
  max-inline-size: 23rem;
  border-radius: 0.6rem;
  padding-block-end: 2rem;
  
  border: none;
  box-shadow: 2px 4px 5px var(--dark-gray);
}
article img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
article div {
  padding-inline: 1.5rem;
}
article p {
  margin-block: 0.5rem;
}
article span {
  color: var(--dark-gray);
}


/* styling for detail page */

.detail-container {
  max-inline-size: 500px;
  margin-inline: auto;
}
.detail-page p,
.domain-sec p {
  margin-block: 0.6rem;
  color: var(--very-dark-blue);
}
.detail-page span,
.domain-sec span {
  color: var(--dark-gray);
}
.domain-sec {
  margin-block: 2rem;
}
.borders {
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.borders p {
  inline-size: 8rem;
  background: var(--very-light-gray);
  padding-block: 0.6rem;
  box-shadow: 3px 0px 5px var(--dark-gray);
  text-align: center;
}

a {
  display: flex;
  gap: 0.4rem;
  text-decoration: none;
  background: var(--very-light-gray);
  align-items: center;
  justify-content: center;
  margin-block-start: 2rem;
  margin-block-end: 3rem;
  padding: 0.6rem;
  inline-size: 7rem;
  box-shadow: 1px 0px 5px var(--dark-gray);
}
.back-icon {
  inline-size: 1.2rem;
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: large;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search {
    inline-size: 100%;
    margin-block-end: 3rem;
  }
  input[type="text"] {
    inline-size: 25rem;
    block-size: 2rem;
    margin-block-start: 0;
    margin-inline: unset;
  }
  #region {
    margin: unset;
  }
  .mode {
    box-shadow: unset;
  }
  .container {
    inline-size: 90%;
    margin-inline: auto;
    margin-block-start: 3rem;
  }
}
@media only screen and (min-width: 850px) {
  /* style details */
  .detail-container {
    max-inline-size: unset;
  }
  .detail-flex {
    max-inline-size: 1200px;
    display: flex;
    gap: 3rem;
    margin-inline: auto;
  }
  .country-details {
    flex: 2;
  }
  .country-img {
    flex: 1.5;
  }

  .split-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .domain-sec {
    margin-block: unset;
  }
  .flex-border {
    margin-block-end: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
